timeline.enabled = false
report.enabled = false
trace.enabled = false
dag.enabled = false

profiles {
    local {
        process.executor = 'local'
    }
    prod {
        process {
            executor = 'slurm'
            errorStrategy = 'finish'
            queue = 'production'
            memory = { task.memory ?: '4 GB' } 
            time = '1d'
            cpus = { task.cpus ?: 1 } 
            beforeScript = '''
                  echo "SLURM Job ID: $SLURM_JOB_ID"
            '''
            clusterOptions = '--mail-type=FAIL,REQUEUE,INVALID_DEPEND,ARRAY_TASKS'
        }
    }
    short {
        process {
            executor = 'slurm'
            queue = 'short'
            memory = { task.memory ?: '4 GB' } 
            time = '4h'
            cpus = { task.cpus ?: 1 } 
            beforeScript = '''
                  echo "SLURM Job ID: $SLURM_JOB_ID"
            '''
            clusterOptions = '--mail-type=FAIL,REQUEUE,INVALID_DEPEND,ARRAY_TASKS'
        }
    }
}
